@import "./vars";

html {
  font-size: 62.5%; 
}

root, html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Raleway, Helvetica, Arial, sans-serif;
    background: #fff;
    color: @COLOR_TEXT_DARK;
    font-size: 1.4rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Radley, 'Times New Roman', Times, serif;
  font-variant: small-caps;
  color: @COLOR_PRIMARY_DARK;
}

h1 {
  font-size: 6.4rem;
}